@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/* .cf { *zoom: 1; } */

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* common class style start */

.wrapper {
  max-width: 1334px;
  width: 97.66%;
  margin: 0 auto;
}

.caps-first {
  text-transform: capitalize;
}

.caps {
  text-transform: uppercase;
}

.color-grey {
  background: #F1F1F1;
}

.font-color-black {
  color: #000;
}

.font-color-white {
  color: #fff;
}

.font-color-grey {
  color: #676767;
}

.font-size-color {
  font-size: 21px;
  color: #000;

}

.color-darkgrey {
  background: #616161;
}

.color-medium-grey {
  background: #BBBBBB;
}

.color-black {
  background: #000;
}

.header-size {
  font-size: 27px;
  padding: 60px 0px 20px;
}

.font-bold {
  font-weight: bolder;
}

/* common class style end */

/* header style start */

header,
header .wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

header ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

nav {
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

nav ul li a:hover {
  color: #ff0000;
}

/* header style end */
/* marketing section style starts */
.marketing h1 a {
  font-size: 42px;
  text-decoration: none;
}

.wrapper h1 {
  padding: 50px 0px 35px;
}

.marketing span {
  font-size: 18px;
}


.wrapper ul,
.wrapper ul li,
.wrapper ul li img {
  width: 100%;
}


.slider {
  display: flex;
  overflow: hidden;
  list-style: none;
  padding-top: 30px;
}

.slider :not(:first-child) {
  display: none;
}

.pagging {
  display: flex;
  justify-content: center;
}

.pagging ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 15%;
}

.pagging ul a {
  text-decoration: none;
  padding: 0px 8px;
  border: 2px solid #fff;
  text-indent: -9999px;
  float: left;
}

.pagging ul a:hover {
  background-color: #fff;
}

.left-arrow {
  width: 100%;
}

.right-arrow {
  width: 100%;
  text-align: right;
}

.right-arrow a {
  text-decoration: none;
  text-indent: -9999px;
  float: right;
  padding: 5px;
}

.left-arrow a {
  text-decoration: none;
  float: left;
  padding: 5px;
}

.right-arrow a::before {
  content: "\f0a9";
  font-family: "fontAwesome";
  font-size: 2em;
}

.left-arrow a::before {
  content: "\f0a8";
  font-family: "fontAwesome";
  text-indent: 0;
  font-size: 2em;
}

/* marketing section style ends */

/* offer section style starts */
.offer .wrapper {
  width: 97%;
}

.offer {
  text-align: center;
}

.offer ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
}

.offer ul li {
  width: 25%;
  text-align: left;
  padding: 26px 15px 30px;
}

.offer li h3 {
  padding: 15px 0;
  font-size: 23px;
}

.offer h2 {
  border-bottom: 3px solid;
}


/* offer section style starts */
/* pricing plans section style start */
.pricing-plans .wrapper {
  width: 97%;
}

.structure {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pricing-plans {
  text-align: center;
}

.pricing-plans ul {
  list-style: none;
  padding: 60px 0 0;
  width: 32%;
}

.structure ul :not(:first-child, :last-child) {
  padding: 15px 0 15px;
}

.structure ul li:last-child {
  padding: 25px 0 25px;
}

.pricing-plans ul li {
  border: 1px solid #616161;
  width: 100%;
}

.pricing-plans h4 {
  font-size: 26px;
  padding: 30px 0 30px;
}

.structure ul li a {
  text-decoration: none;
  border: 1px solid #4CAF50;
  background: #4CAF50;
  padding: 10px;
}

.padding {
  padding: 10px 0 10px;

}

.padding span {
  font-size: 23px;
}

/* pricing plans section style end */
/* about us section style starts */
.about-us .wrapper {
  width: 97%;
}

.about-us ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.about-us ul li {
  width: 32%;
}

/* about us section style end */